<?php
$copyright = 'SMK AK CBT';

define("VERSI", "2.7.0");
define("REVISI", "0");
define("APLIKASI", "SMK AK CBT");
define("NAMA_DATABASE", "cbt");
define("BASEPATH", "cbt.smkalkyai.sch.id"); 
define("ASSETURL", "http://cbt-smkak.test"); 